.site-header
  display flex
  width 100%
  height 46px
  background-color transparent
  position fixed
  z-index 1
  &__logo
    fontStyle(30px, $font-secondary, $secondary-color)
    margin 5px 10px

// Scroll defines
.animeted
  animation-duration .2s
  animation-fill-mode both

.notBottom
  background-color $navbar-bg

.bottom
  background-color $navbar-bg

.notTop
  background-color $navbar-bg

.animated.slideUp
  animation slideUp
  animation-duration .2s
  animation-fill-mode both

@keyframes slideUp
  0%
    transform translateY(0)
  100%
    transform translateY(-100%)

.animated.slideDown
  animation slideDown
  animation-duration .2s
  animation-fill-mode both

@keyframes slideDown
  0%
    transform translateY(-100%)
  100%
    transform translateY(0)
///
.site-header__nav
  displayFlex(center)
  .header-list
    display flex
    justify-content center
    align-items center
    list-style none
    .header-item
      padding 30px
      text-decoration none
      .header-link
        fontStyle(20px, $font-secondary, $secondary-color)
